/* FIGMA 320 design (default) */
.header {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 28px 0 32px;

    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {
    .header {
        padding: 35px 0 36px;
    }
}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {
    .header {
        padding: 45px 0 41px;
    }
}