/* FIGMA 320 design (default) */
.profile__add-button {

    width: 100%;
    height: 50px;
    margin: 33px auto 0;

    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: transparent;
    background-color: transparent;
    padding: 0;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {
    .profile__add-button {
        width: 150px;
        height: 50px;
        margin: 0 0 0 auto;
    }
}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {}