/* FIGMA 320 design (default) */
.form-edit-profile__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 27px;
    padding: 0;
    width: 100%;

    margin: 30px 0 0;
}

.form-edit-profile__input:first-of-type {
    margin: 75px 0 0;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {
    .form-edit-profile__input:first-of-type {
        margin: 64px 0 0;
    }
}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {
    .form-edit-profile__input:first-of-type {
        margin: 54px 0 0;
    }
}