@import url("../vendor/normalize.css");
@import url("../vendor/fonts/Inter-3.19/InterWeb/inter.css");

/********************************************************************************/

@import url("../blocks/cards/cards.css");
@import url("../blocks/cards/__caption/cards__caption.css");
@import url("../blocks/cards/__caption-container/cards__caption-container.css");
@import url("../blocks/cards/__card/cards__card.css");
@import url("../blocks/cards/__foto/cards__foto.css");
@import url("../blocks/cards/__like/cards__like.css");

/********************************************************************************/

@import url("../blocks/content/content.css");

/********************************************************************************/

@import url("../blocks/cursor-pointer/cursor-pointer.css");

/********************************************************************************/

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");

/********************************************************************************/

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

/********************************************************************************/

@import url("../blocks/page/page.css");

/********************************************************************************/

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/profile/__add-button-image/profile__add-button-image.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__avatar-image/profile__avatar-image.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__edit-button-image/profile__edit-button-image.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__about/profile__about.css");
@import url("../blocks/profile/__name/profile__name.css");

/********************************************************************************/

@import url("../blocks/popup-edit-profile/popup-edit-profile.css");
@import url("../blocks/popup-edit-profile/_opened/popup-edit-profile_opened.css");
@import url("../blocks/form-edit-profile/form-edit-profile.css");
@import url("../blocks/form-edit-profile/__button-close/form-edit-profile__button-close.css");
@import url("../blocks/form-edit-profile/__button-save/form-edit-profile__button-save.css");
@import url("../blocks/form-edit-profile/__input/form-edit-profile__input.css");
@import url("../blocks/form-edit-profile/__title/form-edit-profile__title.css");